@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #2a2e45;
  box-sizing: border-box;
}

/* Main header with Media queries */

.main_header {
  max-height: fit-content;
  width: 100%;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 7vw;
  margin: 0;
}



.mainlogo {
  padding: 10px;
  margin-left: 4vw;
  height: 14vh;
}

@media (max-width: 540px) {
  .mainlogo {
    height: 13vh;
  }
}

@media (max-width: 420x) {
  .mainlogo {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 358px) {
  .mainlogo {
    margin-left: 23vw;
  }
}

.navigation2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
}



@media (max-width: 1375px) {
  .navigation2 {
    margin-left: 30vw;
    padding-bottom: 2%;
    gap: 3vw;
  }
}

@media (max-width: 544px) {
  .navigation2 {
    margin-left: 22vw;
    padding-bottom: 2%;
    gap: 2.2vw;
  }
}

@media (max-width: 420px) {
  .navigation2 {
    margin-left: 12vw;
    padding-bottom: 2%;
    gap: 2.2vw;
  }
}

@media (max-width: 358px) {
  .navigation2 {
    margin-left: 4vw;
  }
}

.navigation2 a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 1em;

}

.navigation2 li img {
  height: 3vh;
  display: block;
  margin-left: 13%;
}

.contact {
  padding-left: 10%;
}

.log_in {
  padding-left: 18%;
}

.about_us {
  padding-left: 18%;
}

.searchbar {
  height: 3vh;
  width: 40vw;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
}

@media (max-width: 1375px) {
  .searchbar {
    width: 50vw;
  }
}

@media (max-width: 540px) {
  .searchbar {
    width: 43vw;
    padding: 10px 12px;
  }
}

@media (max-width: 420px) {
  .searchbar {
    width: 34vw;
  }
}

@media (max-width: 358px) {
  .searchbar {
    display: none;
  }
}

/* secondary header with Media queries */

.main_nav {
  height: 7vh;
  width: 100%;
  background-color: #f4f2f2;
  border-radius: 0px 0px 10px 10px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navigation li {
  padding: 1vw;
  padding-left: 6vw;
}

.navigation li a {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

@media (max-width: 540px) {
  .navigation li a {
    font-size: 0.8em;
  }
}

/* Main content call to action*/

.cta_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  padding: 0;
}

.cta {
  width: 80vw;
  background-image: url(../images/robert-torres-RhiBonWtisw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
}



.cta_color {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 0;
  margin: 0;
}

.cta_main {
  height: fit-content;
  overflow: hidden;
  max-width:500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  padding: 0;
  padding-top: 3vh;

}

.cta_main button {
  border-radius: 10px;
  background-color: #f4f2f2;
  box-shadow: inset 0 0 10px #212121;
  margin-bottom: 5vh;

}


.cta_main h1 {
  color: #f4f2f2;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 2.7rem;
  padding: 0;
  margin: 0.01;
}


.cta_main h2 {
  color: #212121;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.9rem;
  
}

.cta_main h3 {
  color: #f4f2f2;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0.01;
  font-size: 1.3rem;
}


@media (max-width: 1107px) {
  .cta_main h1 {
    font-size: 2.3rem;

  }
  .cta_main h2 {

    font-size: 1.6rem;

  }
  .cta_main h3 {
    font-size: 1.3rem;

  }


}

@media (max-width: 700px) {
  .cta_main h1 {
    font-size: 1.9rem;

  }
  .cta_main h2 {

    font-size: 1.7rem;

  }
  .cta_main h3 {
    font-size: 1.1rem;

  }

  .cta_main {
    padding-top: 7vh;
    width: 80%;
  }

}

@media (max-width: 553px) {
  .cta_main h1 {
    font-size: 1.6rem;

  }
  .cta_main h2 {

    font-size: 1.4rem;

  }
  .cta_main h3 {
    font-size: 1.1rem;

  }

  .cta_main {
    padding-top: 7vh;
    width: 80%;
    min-height: 36vh;

} }

@media (max-width: 400px) {
  .cta_main h1 {
    font-size: 1.4rem;
  
  }
  .cta_main h2 {
  
    font-size: 1.2rem;
  
  }
  .cta_main h3 {
    font-size: 0.9rem;
  
  }
  
  .cta_main {
    padding-top: 7vh;
    width: 80%;
    min-height: 36vh;
  
} }

/* Main content latest releases*/

.releases {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.latest {
  height: 7vh;
  width: 80vw;
  margin-top: 8vh;
  background-color:#F4F2F2;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  box-shadow: inset 0 0 10px #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.latest h2 {
  font-size: 1.4rem;
}

@media (max-width:524px) {
  .latest h2 {
    font-size: 1.1rem;
  }
  
}

.latest_games {
  margin-top: 8vh;
  min-height: 30vh;
  overflow: hidden;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  

}
.games_container {
  width: 250px;
  background-color: #F4F2F2;
  margin: 0;
  padding: 0;
  border-radius: 0px 0px 10px 10px;
  
}

@media (max-width:620px) {
  .games_container {
    width: 100px;
    margin: 0;
  }
}


@media (max-width:937px) {
  .space {
    margin: auto;

  }

  
}

@media (max-width:626px) {
  .games_container {
    width: 140px;
    margin: 0;
  }
  .space {
    margin: 0;
  }

}

@media (max-width:525px) {
  .space {
    margin: auto;
  }
  
 }

 @media (max-width:350px) {

  .games_container {
    width: 100px;
  }
  
 }
  
  

.games_container img {
  width: 100%;
  height:100%;
}

.games_container p {
  font-family:"Roboto", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5vw;
  margin: 0;
}

@media (max-width:626px) {

.games_container p {
  font-size: 0.8em;
}

 }
 @media (max-width:350px) {

  .games_container p {
    font-size: 0.6em;
  }
  
   }

 /* Main content newsletter*/

.newsletter_section {
  margin-top: 8vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter {
  height: 7vh;
  width: 80vw;
  background-color:#F4F2F2;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  box-shadow: inset 0 0 10px #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

}

.singup {
  margin-top: 8vh;
  width: 60vw;
  min-height: 50vh;
  background-image: url(../images/keyboard-ga36c8fe8c_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
}



.signup_color {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 0;
  margin: 0;
}

.signup_main {
  min-height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: inherit;
  padding: 0;
  padding-top: 3vh;

}

.signup_main p {
  color: #212121;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0.01;
}

.signup_box {
  min-height: 30vh;
  max-width: 30vw;
  overflow: hidden;
  background-color: #F4F2F2;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: inset 0 0 10px #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.signup_main p {
  font-size: 1.2rem;
  font-weight: 700;
}

.email {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.submitbutton {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

@media (max-width:626px) {
  .signup_main p {
    font-size: 0.9rem;

  }
  .email {
    font-size: 0.8rem;

  }

  .submitbutton {
    font-size: 0.8rem;

  }

  .singup {
    width: 80vw;
  }
  .signup_box {
    max-width: 60vw;

  }

  
}

@media (max-width: 358px) {
  .signup_main p {
    font-size: 0.8rem;

  }
  .email {
    font-size: 0.7rem;

  }

  .submitbutton {
    font-size: 0.7rem;

  }
}


/* Footer with Media queries */

footer {
  background-color: #d9d9d9;
  height: 10vh;
  width: 100%;
}

.social_media {
  display: flex;
  justify-content: center;
}

.media_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.media_links li {
  padding: 1vw;
  padding-left: 2vw;
}

@media (max-width: 1000px) {
  .media_links li {
    margin-top: 2vh;
    padding-left: 5vw;
  }
}

.media_links li i {
  font-size: 2rem;
  color: black;
}